/* section 4 Assortment */
/* БАЗОВІ СТИЛІ */
.list-bags {
  display: grid;
}

.bag-description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* MOBIL */
.conteiner-section-4-assortment {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.title-2 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

/* grid */
.list-bags {
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

/* item */
.item-bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 530.6px;
  text-align: center;
}

/* images */
.photos-bags {
  width: 100%;
  height: 345.6px;
  object-fit: cover;
  border-radius: 32px;
}

/* text */
.bag-name {
  margin: 16px 0 8px;
  font-size: 18px;
  font-weight: 600;
}

.bag-description {
  font-weight: 400;
  font-size: 14px;
}

.price-bag {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
}

/* button*/
.buy-button {
  margin-top: 16px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #030a06;
  background: #ffffff;
  border: 1px solid #030a06;
  transition: all 0.2s ease;
}

/* TABLET */
@media (min-width: 768px) {
  .conteiner-section-4-assortment {
    padding-top: 64px;
    padding-bottom: 32px;
  }

  .list-bags {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 24px;
  }

  .item-bag {
    min-height: 593px;
  }

  .photos-bags {
    height: 408px;
  }
}

/* DESKTOP */
@media (min-width: 1158px) {
  .list-bags {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 64px 24px;
  }

  .item-bag {
    min-height: 556px;
  }

  .photos-bags {
    height: 372px;
  }

  .bag-name {
    font-size: 20px;
  }

  .buy-button {
    margin-top: 26px;
  }

  .buy-button:hover,
  .buy-button:focus {
    border: 1px solid #030a06;
    color: #030a06;
    opacity: 0.5;
  }

  .buy-button:active {
    border: 1px solid #113916;
    color: #113916;
    opacity: 0.6;
  }

  .buy-button:disabled {
    border: 1px solid #030a06;
    color: #030a06;
    cursor: not-allowed;
    opacity: 0.2;
  }
}
