/* section 4 Assortment */
/* БАЗОВІ СТИЛІ */

.catalog-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.list-bags {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

/* MOBIL */
.catalog-title {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.list-bags {
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item-bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.photos-bags {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 32px;
}

.bag-name {
  margin: 16px 0 8px;
  font-size: 18px;
  font-weight: 600;
}

.bag-description {
  font-weight: 400;
  font-size: 14px;
  height: 40px;
}

.price-bag {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
}

.buy-button {
  margin-top: 16px;
  width: 100%;
  padding: 7px 0px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #030a06;
  background: #ffffff;
  border: 1px solid #030a06;
  transition: all 0.2s ease;
}

/* TABLET */
@media (min-width: 768px) {
  .item-bag {
    width: calc((100% - 40px) / 2);
  }
}

/* DESKTOP */
@media (min-width: 1440px) {
  .catalog-title {
    font-size: 48px;
  }

  .item-bag {
    width: calc((100% - 120px) / 4);
  }

  .bag-name {
    font-size: 20px;
  }

  .buy-button {
    margin-top: 26px;
  }

  .buy-button:hover,
  .buy-button:focus {
    border: 1px solid #030a06;
    color: #030a06;
    opacity: 0.5;
  }

  .buy-button:active {
    border: 1px solid #113916;
    color: #113916;
    opacity: 0.6;
  }

  .buy-button:disabled {
    border: 1px solid #030a06;
    color: #030a06;
    cursor: not-allowed;
    opacity: 0.2;
  }
}
