.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  padding: 48px 20px;
  background-color: #75d281;
}

.footer-container-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
}

.footer-logo-svg {
  width: 280px;
  height: 121px;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
}

.footer-nav-list li {
  line-height: 1.6;
}

.footer-social-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}

.footer-icon {
  width: 32px;
  height: 32px;
}

.footer-container-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  padding: 0 0 16px;
  border-top: 1px solid rgba(3, 10, 6, 0.15);
  width: 100%;
}

.footer-contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.footer-contacts-item {
  line-height: 1.6;
}

.footer-p {
  font-size: 14px;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .footer {
    gap: 24px;
    padding: 64px 32px;
  }

  .footer-container-1 {
    gap: 32px;
  }

  .footer-logo-svg {
    width: 165px;
    height: 70px;
  }

  .footer-nav-list {
    justify-content: center;
    flex-direction: row;
  }

  .footer-social-list {
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }

  .footer-icon {
    width: 40px;
    height: 40px;
  }

  .footer-container-2 {
    gap: 16px;
  }

  .footer-contacts-list {
    flex-direction: row;
    gap: 32px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    gap: 52px;
    padding: 80px 64px;
  }

  .footer-container-1 {
    flex-direction: row;
  }

  .footer-nav-list {
    justify-content: flex-start;
  }

  .footer-social-list {
    width: 341px;
    justify-content: flex-end;
  }

  .footer-logo-div {
    width: 341px;
    justify-content: flex-start;
  }

  .footer-icon {
    width: 24px;
    height: 24px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-icon:hover,
  .footer-icon:focus {
    opacity: 0.5;
  }
}
