.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  padding: 48px 20px;
  height: 863;
  background-color: #75d281;
}

.footer-container-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
}

.footer-logo-svg {
  width: 280px;
  height: 121px;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  width: 88px;
  height: 316px;
}

.footer-social-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  width: 280px;
  height: 32px;
}

.footer-icon {
  width: 32px;
  height: 32px;
}

.footer-container-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  padding: 0px 0px 16px;
  width: 280px;
  height: 154px;
  border-top: 1px solid rgba(3, 10, 6, 0.15);
}

.footer-contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 142px;
  height: 68px;
  margin-top: 24px;
}

.footer-p {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .footer {
    gap: 24px;
    padding: 64px 32px;
    height: 432px;
  }

  .footer-container-1 {
    gap: 32px;
    width: 704px;
    height: 200px;
  }

  .footer-logo-svg {
    width: 165px;
    height: 70px;
  }

  .footer-nav-list {
    justify-content: center;
    flex-direction: row;
    width: 566px;
    height: 26px;
  }

  .footer-social-list {
    align-items: center;
    justify-content: space-between;
    width: 144px;
    height: 40px;
  }

  .footer-icon {
    width: 40px;
    height: 40px;
  }

  .footer-container-2 {
    width: 704px;
    height: 80px;
  }

  .footer-container-2 {
    gap: 16px;
    width: 704px;
    height: 80px;
  }

  .footer-contacts-list {
    flex-direction: row;
    gap: 32px;
    width: 306px;
    height: 26px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    gap: 52px;
    padding: 80px 64px;
    height: 362px;
  }

  .footer-container-1 {
    width: 1312px;
    height: 70px;
    flex-direction: row;
  }

  .footer-nav-list {
    justify-content: flex-start;
  }

  .footer-social-list {
    width: 341px;
    height: 24px;
    justify-content: flex-end;
  }

  .footer-logo-div {
    width: 341px;
    height: 70px;
    justify-content: flex-start;
  }

  .footer-icon {
    width: 24px;
    height: 24px;
  }

  .footer-container-2 {
    width: 704px;
    height: 80px;
  }

  .footer-container-2 {
    width: 1312px;
  }
}
