.header {
  background-color: #75D281;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 20px;
}

address {
  font-style: normal;
}

.burger-button{
  padding: 0;
  border: none;
  background: transparent;
}

.menu-close-button {
  position: absolute;
  border: none;
  background: transparent;
  top: 16px;
  right: 20px;
}

/* hide desktop nav on mobile */
.nav-list,
.address-list {
  display: none;
}

/* mobile menu hidden */
.menu {
  position: fixed;
  inset: 0;
  background-color: #75D281;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms ease;
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-icon-link {
  display: block;
  padding: 14px 20px;
}

.menu-nav {
  padding: 32px 20px;
  margin-bottom: 32px;
}
.menu-address {
  padding: 32px 16px 32px 16px;
}

.menu-nav-list{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-nav-item-link,
.menu-address-item-link {
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

/* Tablet */
@media (min-width: 768px) {
  .header-container {
    padding: 0 32px;
  }

  .logo-icon-link {
    padding-left: 32px;
  }

  .menu-nav {
    padding: 32px;
    margin-bottom: 0;
  }

  .menu-address {
    padding: 32px 32px 0 32px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .header-container {
    padding: 0 64px;
    height: 72px;
  }

  .burger-button,
  .menu {
    display: none;
  }

  .nav-list,
  .address-list {
    display: flex;
    gap: 32px;
  }

  .address-list {
    gap: 16px;
  }
}