

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #75D281;
    height: 64px;
    max-width: 100%;
}
@media screen and (min-width: 1440px) {
    .header-container{
        height: 72px;
    }
}

.logo-nav-container{
    display: flex;
    align-items: center;
    gap: 120px;
}


.burger-button{
  padding: 0;
  border: none;
  background-color: transparent;

}


@media screen and (min-width: 1440px) {
    .burger-button{
        display: none;
    }
}

address{
    font-style: normal;
}

.nav-list, .address{
    display: none;
}
@media screen and (min-width: 1440px) {
    .nav-list,
    .address{
        display: flex;
    }
    .nav{
        gap: 32px;
    }
    .nav-list,
    .address-list{
        gap: 10px;
    }
    .address{
        gap: 16px;
    }
}


/* menu */

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #75D281;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 1440px) {
    .menu{
        display: none;
    }
}
.menu.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto; 
}

.menu-container{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menu-nav{
    padding-top: 32px;
    padding-right: 20px;
    padding-bottom: 32px;
    padding-left: 20px;
    margin-bottom: 32px;
    gap: 10px;
}
@media screen and (min-width: 768px) {
    .menu-nav{
        padding: 32px;
        margin-bottom: 0;
    }
}

.menu-address{
    padding-top: 32px;
    padding-right: 16px;
    padding-left: 16px;
}
@media screen and (min-width: 768px) {
    .menu-address{
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
        gap: 16px;
    }
}
.menu-logo-button-container{
    display: flex;
    justify-content: space-between;
}

.menu-close-button{
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-nav-item-link,
.menu-address-item-link{
  font-family: var(--main-ff), sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25.6px;
  color: #030a06;
}
.menu-nav-list,
.menu-address-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}



@media screen and (min-width: 1440px) {
 
 .nav{
    display: flex;
    justify-content: space-between;
 }
 .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .address{
    display: flex;
 }
 .address-list{
    display: flex;
 }

}