.planet-care {
  padding: 64px 16px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url(../img/planet-care/planet-care-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.planet-care .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planet-care-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  max-width: 95px;
  margin-bottom: 12px;
}

.planet-care-subtitle {
  font-family: var(--secondary-ff);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  max-width: 288px;
  margin-bottom: 20px;
}

.planet-care-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  max-width: 288px;
}

@media (min-resolution: 192dpi) {
  .planet-care {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
      url(../img/planet-care/planet-care-m@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .planet-care {
    padding: 80px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
      url(../img/planet-care/planet-care-t.jpg);
  }

  .planet-care .container {
    padding: 80px auto;
  }

  .planet-care-title {
    margin-bottom: 16px;
  }

  .planet-care-subtitle {
    max-width: 629px;
    margin-bottom: 24px;
  }

  .planet-care-p {
    font-size: 18px;
    max-width: 573px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .planet-care {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
      url(../img/planet-care/planet-care-t@2x.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .planet-care {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
      url(../img/planet-care/planet-care-d.jpg);
  }

  .planet-care .container {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .planet-care-subtitle {
    font-size: 56px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .planet-care {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
      url(../img/planet-care/planet-care-d@2x.jpg);
  }
}
