<!-- advantages-section -->
<section class="section">
  <div class="container">
    <div class="advntgs-container">
      <h1 class="advntgs-h2">Чому обрати нас?</h1>
      <h2 class="advntgs-h3-top">Переваги</h2>
    </div>
    <p class="advntgs-p why">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advntgs-list">
      <li class="advntgs-item">
        <picture
          ><source
            srcset="
              ../img/advantages/natural-materials-t.png    1x,
              ../img/advantages/natural-materials-t@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/advantages/natural-materials-m.png    1x,
              ../img/advantages/natural-materials-m@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="../img/advantages/natural-materials-m.png"
            alt="A flat lay photo featuring natural materials"
          />
        </picture>

        <h3 class="advntgs-h3">Стійкість та екологічність</h3>
        <p class="advntgs-p">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advntgs-item">
        <picture
          ><source
            srcset="
              ../img/advantages/sturdytotebag-t.png    1x,
              ../img/advantages/sturdytotebag-t@2x.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ../img/advantages/sturdytotebag-m.png    1x,
              ../img/advantages/sturdytotebag-m@2x.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="../img/advantages/sturdytotebag-m.png"
            alt="Close-up image of a sturdy tote bag"
        /></picture>
        <h3 class="advntgs-h3 second-h3">Міцність і довговічність</h3>
        <p class="advntgs-p">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advntgs-item third">
        <picture class="advntgs-pic-3"
          ><source
            srcset="
              ../img/advantages/row-of-bags-t.png    1x,
              ../img/advantages/row-of-bags-t@2x.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ../img/advantages/row-of-bags-m.png    1x,
              ../img/advantages/row-of-bags-m@2x.png 2x
            "
            media="(max-width: 767px)" />
          <img
            src="../img/advantages/row-of-bags-m.png"
            alt="A row of eco-tote bags"
        /></picture>
        <h3 class="advntgs-h3">Стильний та сучасний дизайн</h3>
        <p class="advntgs-p">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
