<!-- advantages-section -->
<section class="section" id="advantages">
  <div class="container">
    <div class="advntgs-container">
      <h2 class="advntgs-h2">Чому обрати нас?</h2>
      <h3 class="advntgs-h3">Переваги</h3>
    </div>
    <p class="advntgs-p why">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advntgs-list">
      <li class="advntgs-item">
        <picture
          ><source
            srcset="
              /img/advantages/natural-materials-t.webp    1x,
              /img/advantages/natural-materials-t@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/advantages/natural-materials-m.webp    1x,
              /img/advantages/natural-materials-m@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/advantages/natural-materials-m.webp"
            alt="A flat lay photo featuring natural materials"
          />
        </picture>

        <h4 class="advntgs-h4">Стійкість та екологічність</h4>
        <p class="advntgs-p">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advntgs-item">
        <picture
          ><source
            srcset="
              /img/advantages/sturdytotebag-t.webp    1x,
              /img/advantages/sturdytotebag-t@2x.webp 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/advantages/sturdytotebag-m.webp    1x,
              /img/advantages/sturdytotebag-m@2x.webp 2x
            "
            media="(max-width: 767px)" />
          <img
            src="/img/advantages/sturdytotebag-m.webp"
            alt="Close-up image of a sturdy tote bag"
        /></picture>
        <h4 class="advntgs-h4">Міцність і довговічність</h4>
        <p class="advntgs-p">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advntgs-item third">
        <picture class="advntgs-pic-3"
          ><source
            srcset="
              /img/advantages/row-of-bags-t.webp    1x,
              /img/advantages/row-of-bags-t@2x.webp 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              /img/advantages/row-of-bags-m.webp    1x,
              /img/advantages/row-of-bags-m@2x.webp 2x
            "
            media="(max-width: 767px)" />
          <img
            src="/img/advantages/row-of-bags-m.webp"
            alt="A row of eco-tote bags"
        /></picture>
        <h4 class="advntgs-h4">Стильний та сучасний дизайн</h4>
        <p class="advntgs-p">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
