<section>
  <h1>Чому обрати нас?</h1>
  <h2>Переваги</h2>
  <p>
    Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
    стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
    відповідальність.
  </p>

  <ul>
    <li>
      <picture><img src="" alt="" /></picture>
      <h3 class="advntgs-h3">Стійкість та екологічність</h3>
      <p>Виготовлені з органічної бавовни та переробленого пластику.</p>
    </li>
    <li>
      <picture><img src="" alt="" /></picture>
      <h3 class="advntgs-h3">Міцність і довговічність</h3>
      <p>Наші сумки мають посилені шви для тривалого використання.</p>
    </li>
    <li>
      <picture><img src="" alt="" /></picture>
      <h3 class="advntgs-h3">Стильний та сучасний дизайн</h3>
      <p>Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
    </li>
  </ul>
</section>
