<!-- #region section 4 Assortment -->
<section class="section">
  <div class="container">
    <h2 class="catalog-title">Наші сумки</h2>
    <ul class="list-bags">
      <li class="item-bag">
        <img
          class="photos-bags"
          src="../img/catalog/ecobag_classic-d.jpg"
          srcset="
            ../img/catalog/ecobag_classic-d.jpg    1x,
            ../img/catalog/ecobag_classic-d@2x.jpg 2x
          "
          alt="ecobag_classic"
          width="310"
          height="372"
        />
        <h3 class="bag-name">EcoBag Classic</h3>
        <p class="bag-description">
          Елегантна та містка сумка для щоденного використання.
        </p>
        <p class="price-bag">$25</p>
        <button class="buy-button" type="button">Купити</button>
      </li>

      <li class="item-bag">
        <img
          class="photos-bags"
          src="../img/catalog/ecotote_shopper-d.jpg"
          srcset="
            ../img/catalog/ecotote_shopper-d.jpg    1x,
            ../img/catalog/ecotote_shopper-d@2x.jpg 2x
          "
          alt="ecotote_shopper"
          width="310"
          height="372"
        />
        <h3 class="bag-name">EcoTote Shopper</h3>
        <p class="bag-description">
          Ідеальна для покупок, з посиленими ручками.
        </p>
        <p class="price-bag">$30</p>
        <button class="buy-button" type="button">Купити</button>
      </li>

      <li class="item-bag">
        <img
          class="photos-bags"
          src="../img/catalog/ecobackpack_urban-d.jpg"
          srcset="
            ../img/catalog/ecobackpack_urban-d.jpg    1x,
            ../img/catalog/ecobackpack_urban-d@2x.jpg 2x
          "
          alt="ecobackpack_urban"
          width="310"
          height="372"
        />
        <h3 class="bag-name">EcoBackack Urban</h3>
        <p class="bag-description">
          Зручний рюкзак для міста з відділенням для ноутбука.
        </p>
        <p class="price-bag">$45</p>
        <button class="buy-button" type="button">Купити</button>
      </li>

      <li class="item-bag">
        <img
          class="photos-bags"
          src="../img/catalog/ecocrossbody_mini-d.jpg"
          srcset="
            ../img/catalog/ecocrossbody_mini-d.jpg    1x,
            ../img/catalog/ecocrossbody_mini-d@2x.jpg 2x
          "
          alt="ecocrossbody_mini"
          width="310"
          height="372"
        />
        <h3 class="bag-name">EcoCrossbody Mini</h3>
        <p class="bag-description">
          Компактна сумка через плече для найнеобхіднішого.
        </p>
        <p class="price-bag">$20</p>
        <button class="buy-button" type="button">Купити</button>
      </li>

      <li class="item-bag">
        <img
          class="photos-bags"
          src="../img/catalog/ecolunch_bag-d.jpg"
          srcset="
            ../img/catalog/ecolunch_bag-d.jpg    1x,
            ../img/catalog/ecolunch_bag-d@2x.jpg 2x
          "
          alt="ecolunch_bag"
          width="310"
          height="372"
        />
        <h3 class="bag-name">EcoLunch Bag</h3>
        <p class="bag-description">Стильна та практична сумка для обідів.</p>
        <p class="price-bag">$15</p>
        <button class="buy-button" type="button">Купити</button>
      </li>

      <li class="item-bag">
        <img
          class="photos-bags"
          src="../img/catalog/ecobeach_tote-d.jpg"
          srcset="
            ../img/catalog/ecobeach_tote-d.jpg    1x,
            ../img/catalog/ecobeach_tote-d@2x.jpg 2x
          "
          alt="ecobeach_tote"
          width="310"
          height="372"
        />
        <h3 class="bag-name">EcoBeach Tote</h3>
        <p class="bag-description">
          Велика сумка для пляжних речей з водонепроникною підкладкою.
        </p>
        <p class="price-bag">$35</p>
        <button class="buy-button" type="button">Купити</button>
      </li>

      <li class="item-bag">
        <img
          class="photos-bags"
          src="../img/catalog/ecotravel_duffle-d.jpg"
          srcset="
            ../img/catalog/ecotravel_duffle-d.jpg    1x,
            ../img/catalog/ecotravel_duffle-d@2x.jpg 2x
          "
          alt="ecotravel_duffle"
          width="310"
          height="372"
        />
        <h3 class="bag-name">EcoTravel Duffle</h3>
        <p class="bag-description">
          Містка дорожня сумка з додатковим кишенями.
        </p>
        <p class="price-bag">$60</p>
        <button class="buy-button" type="button">Купити</button>
      </li>

      <li class="item-bag">
        <img
          class="photos-bags"
          src="../img/catalog/ecokids_bag-d.jpg"
          srcset="
            ../img/catalog/ecokids_bag-d.jpg    1x,
            ../img/catalog/ecokids_bag-d@2x.jpg 2x
          "
          alt="ecokids_bag"
          width="310"
          height="372"
        />
        <h3 class="bag-name">EcoKids Bag</h3>
        <p class="bag-description">Яскрава та зручна сумка для дітей.</p>
        <p class="price-bag">$22</p>
        <button class="buy-button" type="button">Купити</button>
      </li>
    </ul>
  </div>
</section>
<!-- #endregion section 4 Assortment -->
