<section class="section" id="reviews">
  <div class="container">
    <h2 class="feedback-title">Що говорять наші клієнти</h2>
    <ul class="feedback-list">
      <li class="feedback-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="feedback-item-comment">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedback-item-author">Анна</p>
      </li>
      <li class="feedback-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="feedback-item-comment">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedback-item-author">Ігор</p>
      </li>
      <li class="feedback-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="feedback-item-comment">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedback-item-author">Олена</p>
      </li>
      <li class="feedback-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg width="24" height="24" class="star-icon">
              <use href="/img/svg/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedback-item-comment">
          Швидка доставка та гарне обслуговування.
        </p>
        <p class="feedback-item-author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
