<!-- footer -->
<footer class="footer-section">
  <div class="footer-container">
    <a class="" href="/index.html">
      <img src="/images/" alt="Company logo" />
    </a>
    <nav>
      <ul class="">
        <li><a href="#">Про нас</a></li>
        <li><a href="#">Переваги</a></li>
        <li><a href="#">Асортимент</a></li>
        <li><a href="#">Галерея</a></li>
        <li><a href="#">Відгуки</a></li>
        <li><a href="#">Контакти</a></li>
      </ul>
    </nav>

    <div class="">
      <ul class="">
        <li class="">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class=""
            aria-label="Instagram link"
          >
            <svg class="" width="32" height="32">
              <use href="/images/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class=""
            aria-label="LinkedIn link"
          >
            <svg class="" width="32" height="32">
              <use href="./images/svg/icons.svg#icon-linkedIn"></use>
            </svg>
          </a>
        </li>
        <li class="">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class=""
            aria-label="Youtube link"
          >
            <svg class="" width="32" height="32">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <address class="">
      <ul class="">
        <li class="">
          <a class="" href="tel:+380999091122">+38 (099) 909 11 22</a>
        </li>
        <li class="">
          <a class="" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
        </li>
      </ul>
    </address>
    <p>&copy;2025 EcoTote. Всі права захищені.</p>
  </div>
</footer>
