<!--section5-->
<section class="section">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-title-sub">EcoTotes у повсякденному житті</h3>

    <ul class="gallery-list">
      <li class="gallery-list-item gallery-list-item1">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery/eco-tote-m.jpg    1x,
              ../img/gallery/eco-tote-m@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/eco-tote-t.jpg    1x,
              ../img/gallery/eco-tote-t@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/eco-tote-d.jpg    1x,
              ../img/gallery/eco-tote-d@2x.jpg 2x
            "
          />
          <img src="../img/gallery/eco-tote-m.jpg" alt="eco-tote" />
        </picture>
      </li>

      <li class="gallery-list-item gallery-list-item2">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery/city-scene-m.jpg    1x,
              ../img/gallery/city-scene-m@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/city-scene-t.jpg    1x,
              ../img/gallery/city-scene-t@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/city-scene-d.jpg    1x,
              ../img/gallery/city-scene-d@2x.jpg 2x
            "
          />
          <img src="../img/gallery/city-scene-m.jpg" alt="city-scene" />
        </picture>
      </li>

      <li class="gallery-list-item gallery-list-item3">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery/person-walking-m.jpg    1x,
              ../img/gallery/person-walking-m@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/person-walking-t.jpg    1x,
              ../img/gallery/person-walking-t@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/person-walking-d.jpg    1x,
              ../img/gallery/person-walking-d@2x.jpg 2x
            "
          />
          <img src="../img/gallery/person-walking-m.jpg" alt="person-walking" />
        </picture>
      </li>
      <li class="gallery-list-item gallery-list-item4">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/gallery/young-woman-m.jpg    1x,
              ../img/gallery/young-woman-m@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/gallery/young-woman-t.jpg    1x,
              ../img/gallery/young-woman-t@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/gallery/young-woman-d.jpg    1x,
              ../img/gallery/young-woman-d@2x.jpg 2x
            "
          />
          <img src="../img/gallery/young-woman-m.jpg" alt="young-woman" />
        </picture>
      </li>
    </ul>
  </div>
</section>
