<header>
    <div class="container header-container">
        <nav class="nav">
            <div class="logo-nav-container">
                <a class="logo-icon-link" href="">
                    <img src="/img/svg/logo.svg" alt="">
                </a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Переваги</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Асортимент</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Галерея</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Відгуки</a>
                    </li>
                    <li class="nav-item">
                        <a href="">Контакти</a>
                    </li>
                </ul>
            </div>

        </nav>
        <address class="address">
            <ul class="address-list">
                <li class="address-item">
                    <a href="tel:+380999091122">+380999091122</a>
                </li>
                <li class="address-item">
                    <a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
                </li>
            </ul>
        </address>
        <button class="burger-button">
            <svg class=" icons burger-button-icon" width="32" height="32">
                <use href="/img/svg/icons.svg#icon-menu"></use>
            </svg>
        </button>

<!--menu-->

        <div class="menu">
            <div class="menu-container ">
                <div class="menu-logo-button-container">
                    <a class="logo-icon-link" href="">
                        <img src="/img/svg/logo.svg" alt="">
                    </a>
                    <button class="menu-close-button">
                        <svg class="icons menu-close-icon" width="32" height="32">
                            <use href="/img/svg/icons.svg#icon-x"></use>
                        </svg>
                    </button>
                </div>
                <nav class="menu-nav">
                    <ul class="menu-nav-list">
                        <li class="menu-nav-item">
                            <a class="menu-nav-item-link" href="">Про нас</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-item-link" href="">Переваги</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-item-link" href="">Асортимент</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-item-link" href="">Галерея</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-item-link" href="">Відгуки</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-item-link" href="">Контакти</a>
                        </li>
                    </ul>
                </nav>
                <address class="menu-address">
                    <ul class="menu-address-list">
                        <li class="menu-address-item">
                            <a class="menu-address-item-link" href="">+380999091122</a>
                        </li>
                        <li class="menu-address-item">
                            <a class="menu-address-item-link" href="">hello@ecotote.com</a>
                        </li>
                    </ul>
                </address>
            </div>
        </div>
    </div>
</header>