<section class="section" id="contacts">
  <div class="container container-support">
    <div class="container-none-img">
      <h2 class="support-title">Залишились питання? Зв'яжіться з нами!</h2>
      <h3 class="support-text">Ми тут, щоб допомогти!</h3>

      <form class="form-support">
        <div class="input-wrapper">
          <label class="label-field" for="user-name">Ім'я</label>
          <input
            class="text-support-field"
            type="text"
            id="user-name"
            name="user-name"
            placeholder="Іван"
            minlength="5"
            maxlength="64"
            required
          />
          <p class="text-invalid">Error text</p>
        </div>
        <div class="input-wrapper">
          <label class="label-field" for="user-email">Електронна пошта</label>
          <input
            class="text-support-field"
            type="email"
            id="user-email"
            name="email"
            placeholder="hello@ecotote.com"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <p class="text-invalid">Error text</p>
        </div>
        <div class="textarea-wrapper">
          <label class="label-field" for="user-comment">Повідомлення</label>
          <textarea
            class="comment-textarea"
            name="user-comment"
            id="user-comment"
            placeholder="Введіть своє повідомлення..."
            maxlength="500"
          ></textarea>
        </div>

        <button class="button-support" type="submit">Надіслати</button>
      </form>
    </div>

    <div class="img-support"></div>
  </div>
</section>
