:root {
  --main-ff: 'Fira Sans';
  --secondary-ff: 'Comfortaa';
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: var(--main-ff), sans-serif;
  font-weight: 400;
  color: #030a06;
  background-color: #ebf8ed;
}

main {
  flex-grow: 1;
}

.section {
  padding: 32px 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section {
    padding: 64px 0;
  }
}
