/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./partials/header.css');

@import url('./partials/hero.css');
@import url('./partials/planet-care.css');
@import url('./partials/advantages.css');
@import url('./partials/catalog.css');
@import url('./partials/gallery.css');
@import url('./partials/feedback.css');
@import url('./partials/support.css');

@import url('./partials/footer.css');
